{% extends "d_layout.html" %}
{% load static  %}
{% block content %}

<style>
/* Modal overlay */
    .modal-overlay {
      display: none; /* Hidden by default */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      justify-content: center;
      align-items: center;
    }
    /* Modal content */
    .modal-content {
      font-size: medium;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 300px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    /* Buttons */
    .button-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    .modal-button {
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .ok-button {
      background-color: #4CAF50;
      color: white;
    }
    .cancel-button {
      background-color: #f44336;
      color: white;
    }
</style>

<section>
   <h1> This is Doctor`s Panel</h1>
</section>

  <!-- Modal Structure -->
  <div id="modal" class="modal-overlay">
    <div class="modal-content">
      <p>Admin has not Approved your request. You can access your account after admin approved it. Thank you for your request.</p>
      <div class="button-container">
        <button class="modal-button ok-button" onclick="okAction()">OK</button>
      </div>
    </div>
  </div>

  <script>
    window.onload = function() {
        var con = "{{request.session.approved}}" == "False" ? true : false;
        if (con) {
          showModal();
        }
    };
    function showModal() {
      document.getElementById("modal").style.display = "flex";
    }
    function hideModal() {
      document.getElementById("modal").style.display = "none";
    }
    function okAction() {
      hideModal();
      window.location.replace("/logout");
    }
  </script>



{% endblock content %}