{% extends "user_layout.html" %}
{% load static  %}
{% block content %}


<body>

    <section>

        {% if messages %}
          {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}  
          {% endfor %}
        {% endif %}
        
       <h1>Add Donor Details --------></h1>
       <div class="book">
        <div class="row">
            <form action="/api/add_donor/" method="POST">
                {% csrf_token %}
                <h3>Blood Donor Registration</h3>
                <input type="text" name="name" class="box" placeholder="Enter your name" required>
                <select name="blood_group" class="box" required>
                    <option value="" disabled selected>Select your blood group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <input type="tel" name="contact_no" maxlength="10" class="box" placeholder="Enter your contact number" required>
                <input type="text" name="residence" class="box" placeholder="Enter your residence" required>
                <button type="submit" class="btn">Submit <span>&rarr;</span></button>
            </form>
        </div>
    </div>

    
</section>

{% endblock content %}
