{% extends "user_layout.html" %}
{% load static  %}
{% block content %}


<section class="services" id="services">
    <h1 class="heading">Our <span>services</span></h1>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>free checkups</h3>
            <p>Enjoy a free health checkup with our expert medical professionals by booking your appointment today!</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-ambulance"></i>
            <h3>24/7</h3>
            <p>We provide a free 24/7 ambulance service, ensuring immediate medical transport assistance anytime, anywhere.</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>fresffd ds</h3>
            <p>Doctors are available for appointments based on real-time scheduling, allowing patients to choose convenient time slots for consultations.</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>free sfes</h3>
            <p>Affordable medication options providing high-quality, low-cost medicines to ensure accessible healthcare for all.</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>free checkups</h3>
            <p>Affordable beds offering comfort and quality at budget-friendly prices for restful sleep.</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>free care</h3>
            <p>Free Care provides access to essential medical services at no cost, ensuring healthcare is available to everyone, regardless of financial constraints.</p>
            <a href="#" class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
    </div>
</section>

{% endblock content %}